#header {
  background-image: url('./assets/dark-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header a {
  color: white;
  font-size: 22px;
}

.main-section {
  min-height: 85vh;
}

.footer-section {
padding: 1rem;
display : flex;
justify-content: center;
align-items: center;    
}

.footer-section a {
  font-size: 30px;
  color: white;
  margin-left: 1rem;
}

.container {
    color: white;
}